$orange: #ff5a00;
$header-height: 72px;
$dark-gray: #666;
$light-gray: #ccc;
$header-nav-height: 432px;

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.global-header {
  background-color: #000;
  position: relative;
  letter-spacing: -0.5px;
}

.global-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #000;
  margin-right: auto;
  flex-grow: 1;
  li a {
    color: $dark-gray;
  }
}

a:hover {
  color: #999;
}

.global-nav {
  display: flex;
}

/* Customize flex items*/
#gn-products, #gn-support, #gn-artists, #gn-blog, #gn-newsevents, #gn-company, #gn-account {
  margin-right: auto;
}

#gn-logo {
  background-color: $orange;
  width: 130px;
  text-align: center;
  display: table;
  height: $header-height;
  a {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    text-transform: uppercase;
  }
}

#gn-products a:hover, #gn-support a:hover, #gn-artists a:hover, #gn-blog a:hover, #gn-newsevents a:hover, #gn-company a:hover {
  color: $light-gray;
  background-color: #262626;
}

nav.global-nav ul li a {
  display: block;
  padding: 30px;
  line-height: 1;
  text-decoration: none;
  font-size: 0.77rem;
  text-transform: uppercase;
}

#gn-account {
  margin-top: auto;
  margin-bottom: auto;
  a { padding: 0px; }
}

.top-right-icons {
  align-self: center;
  margin-right: 20px;
  #hamburger-menu-icon {
    display: none;
  }
}

.top-right-icons {
  img{
    width: 25px;
    height: 25px;
    margin: 0 10px;
    cursor: pointer;
  }
}

.subMenuContainer {
  width: 100%;
  opacity: 0.95;
  display: none;
  z-index: 1;
}

.subMenu {
  padding: 30px 0px;
  margin-bottom: 30px;
  height: 300px;
  background-color: #fff;
  font-size: 0.8rem;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  flex-basis: 200px;
  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}

.subMenuListItems {
  margin-left: 30px;
  cursor: pointer;
  padding: 10px 0px;
  width: 30%;
  max-width: 300px;
  &:hover {
    background-color: #e5e5e5;
  }

  &::after {
    content: ">";
    float: right;
    padding-right: 5px;
  }
}

.subMenuListItems:nth-child(6n+1){
  border-top: 1px solid lightgray;
}

.menu-col-1, .menu-col-2 {
  border-bottom: 1px solid lightgray;
}

.showSubMenu {
  display: block;
  position: absolute;
  /*
  animation-name: showSubMenu;
  animation-duration: 0.3s;
  */
}

@keyframes showSubMenu {
  100% { top: 0px; }
}

#showMenu {
  top: $header-height;
}

@media only screen and (max-width: 1000px) {
  .global-nav-list {
    flex-direction: column;
    position: absolute;
    top: calc(-#{$header-height} - #{$header-nav-height});
    z-index: 100;
    width: 100%;
    li {
      width: 100%;
      text-align: center;
      &:hover { background-color: #fff; }
    }
  }
  .top-right-icons {
    display: flex;
    margin-left: auto;
    #hamburger-menu-icon{
      display: block;
    }
  }
}
