.banner-carousel img{
  max-height: 650px;
  width: 100%;
}

.slick-width {
  width: 100%;
  max-height: 650px;
}

.slick-arrow {
  position: absolute;
  top: 43%;
  z-index: 5;
  background-color: black;
  color: white;
  border: none;
  width: 35px;
  height: 35px;
  cursor: pointer;
  outline: 5px solid rgba(255,255,255,0.15)
}

.slick-next {
  right: 0;
}

.banner-text {
  position: absolute;
  color: #fff;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  letter-spacing: 2.5px;
  font-weight: 500;
}

.banner-text p {
  color: #fff;
  font-size: 1.4rem;
}
