.content-carousel{
  margin: 50px 0px;
  position: relative;
}

.content-row {
  display: flex;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 380px;
}

.content-tile {
  max-width: 380px;
  padding: 20px 10px;
  min-height: 410px;
  overflow: hidden;
}

.content-media {
  max-width: 100%;
  max-height: 100%;
}

.content-label {
  letter-spacing: 0.6px;
}

.content-page-link {
  text-transform: uppercase;
}

.content-page-link::before{
  content: '>';
  background-color: #000;
  color: #fff;
  padding: 1px 4px;
  margin-right: 3px;
}

.show{
  display: block;
}

.hide {
  display: none;
}

.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
